<P ALIGN=CENTER STYLE="margin-bottom: 0.11in"><A NAME="_GoBack"></A><B class="title">Weather service</B>
  <UL>
    <LI>
<P STYLE="margin-bottom: 0.11in">On the page „Weather”
  we can search for city from the list.</P>
<UL>
  <LI><P STYLE="margin-bottom: 0.11in">Button „Show actual
    weather” shows us weather for all added cities.</P>
  <LI><P STYLE="margin-bottom: 0.11in">Button „Show actual
    forecast” shows us 5-day forecast for all added cities</P>
  <LI><P STYLE="margin-bottom: 0.11in">Button „Delete all”
    deletes all cities</P>
  <LI><P STYLE="margin-bottom: 0.11in">Button „Delete” near every city
    deletes only this city</P>
</UL>
<LI><P STYLE="margin-bottom: 0.11in">On the page „Settings”
  you need to add your own API key.</P>
  <UL>
    <LI><P STYLE="margin-bottom: 0.11in">To generate your API key visit this site:
      <A HREF="https://openweathermap.org/appid" target="_blank">https://openweathermap.org/appid</A></P>
  </UL>
</LI>

