<P ALIGN=CENTER STYLE="margin-bottom: 0.11in"><A NAME="_GoBack"></A><B class="title">Serwis
  Pogodowy</B>
  <UL>
    <LI>
<P STYLE="margin-bottom: 0.11in">W zakładce „Pogoda”
  wyszukujemy miasta z listy po czym je dodajemy (klawisz ENTER lub
  przycisk „Dodaj”)</P>
<UL>
  <LI><P STYLE="margin-bottom: 0.11in">Przycisk „Pokaż aktualną
    pogodę” pokaże nam pogodę dla wszystkich dodanych miast</P>
  <LI><P STYLE="margin-bottom: 0.11in">Przycisk „Pokaż aktualną
    prognozę” wyświetli prognozę pogody na 5-6 dni do przodu</P>
  <LI><P STYLE="margin-bottom: 0.11in">Przycisk „Usuń wszystkie
    miasta” usunie z naszej listy wszystkie dotychczasowe miasta</P>
  <LI><P STYLE="margin-bottom: 0.11in">Przycisk „Usuń” przy
    każdym mieście, usunie tylko to jedno wybrane miasto</P>
</UL>
<LI><P STYLE="margin-bottom: 0.11in">W zakładce „Ustawienia”
  należy dodać prywatny klucz API</P>
  <UL>
    <LI><P STYLE="margin-bottom: 0.11in">Aby zaktualizować klucz API
      wystarczy wpisać ponownie nowy klucz</P>
    <LI><P STYLE="margin-bottom: 0.11in">Aby usunąć należy kliknąć
      usuń</P>
    <LI><P STYLE="margin-bottom: 0.11in">Aby wygenerować swój klucz API
      proszę udać się pod adres: <A HREF="https://openweathermap.org/appid">https://openweathermap.org/appid</A></P>
  </UL>
</LI>

