* {
  margin: 0;
  padding: 0;
  outline: none;
}

.widget {
  position: relative;
  width: fit-content;
  background-image: radial-gradient(rgba(11, 16, 23, 0.35), rgba(28, 65, 87, 0.71));
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 9px;
  padding: 15px;
  box-sizing: content-box;
  margin-bottom: 10px;
}

.city {
  font-size: 20px;
  padding-top: 5px;
  color: rgb(255, 255, 255);
  font-family: Muli, sans-serif;
  display: initial;
}

.city-name {
  text-align: center;
  padding: initial;
  align-self: center;
}

.image {
  width: auto;
}

.temp {
  font-size: 60px;
  color: rgb(255, 255, 255);
  font-weight: 100;
  font-family: Muli, sans-serif;
}
