<div class="widget" *ngFor="let forecast of fiveDayForecastArray">
  <div>
    <div class="left-panel panel">
      <div class="ui-g city">
        <div class="ui-g-8 city-name">{{forecast.city_name}}</div>
        <p-inputSwitch [(ngModel)]="forecast.which_data"></p-inputSwitch>
      </div>
      <div class="ui-g">
        <div class="temp" *ngFor="let temp of forecast.results">
          <div class="date">
            {{temp.date}}
          </div>
          <img *ngIf="forecast.which_data" class="image" [src]="'http://openweathermap.org/img/w/' + temp.icon + '.png'" alt=""
               width="40px">
          <div *ngIf="forecast.which_data">
            {{temp.temp.toFixed(1)}}&deg;
          </div>
          <div *ngIf="!forecast.which_data">
            {{temp.wind_speed.toFixed(1)}} <p style="font-size: 8px">km/h</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
